<span style="background-color:#C0C0C0;">マイページ</span><br>
<b>登録情報</b><%= link_to "編集する", edit_public_customers_path, class:"btn btn-success" %><br>
<table class="table table-bordered">
  <tr>
    <th bgcolor="#c0c0c0">氏名</th>   
    <td><%= @customer.last_name %><%= current_customer.first_name %></td>
  </tr>
  <tr>
    <th bgcolor="#c0c0c0">カナ</th>
    <td><%= @customer.last_name_kana %><%= current_customer.first_name_kana %></td>
  </tr>
  <tr>
    <th bgcolor="#c0c0c0">郵便番号</th>
    <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th bgcolor="#c0c0c0">住所</th>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <th bgcolor="#c0c0c0">電話番号</th>
    <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th bgcolor="#c0c0c0">メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
</table>
<b>配送先</b><%= link_to "一覧を見る", public_addresses_path, class:"btn btn-primary" %><br>
<b>注文履歴</b><%= link_to "一覧を見る", public_orders_path, class:"btn btn-primary" %>



