<span style="color:#000000; background-color:#C0C0C0;">商品詳細</span>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to item_path(@item.id) do %>
        <%= attachment_image_tag @item, :image, fallback: "no_image.jpg", format: 'jpeg', size: "250x150" %>
        
      <% end %>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
      <tr>
        <th>商品名</th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= @item.introduction %></td>
      </tr>  
      <tr>
        <th bgcolor="#c0c0c0">ジャンル</th>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <th>税込価格(税抜価格)</th>
        <td><%= @item.price.to_s(:delimited) %> (<%= (@item.price * 1.1).floor.to_s(:delimited) %>)円</td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <% if @item.is_active == true %>
          <td style="color:green">販売中</td>
        <% else %>
          <td style="color:gray">販売停⽌中</td>
        <% end %>
      </tr>
      </table>
      <%= link_to "編集する", edit_admin_item_path(@item), class:"btn btn-success" %>
    </div>  
  </div>
</div>      


