<%= form_with model: @customer, url: admin_customer_path(@customer), local:true do |f| %>
<span style="color:#000000; background-color:#C0C0C0;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span>

<br>会員ID<%= @customer.id %><br>
氏名<%= f.text_field :last_name %><%= f.text_field :first_name %><br>
フリガナ<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %><br>
郵便番号<%= f.text_field :postal_code %><br>
住所<%= f.text_field :address %><br>
電話番号<%= f.text_field :telephone_number %><br>
メールアドレス<%= f.text_field :email %><br>
会員ステータス<%= f.radio_button :add, 1, checked: true  %>有効<%= f.radio_button :add, 2 %>退会<br>
  <%= f.submit '変更を保存', class:"btn btn-success" %>
<% end %>
