<div class="container">
<div class="row">
<div class="col-lg-12">
<span style="color:#000000; background-color:#C0C0C0;">ログイン</span><br>
<% if @customer.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<span style="color:#000000; background-color:#C0C0C0;">会員の方はこちらからログイン<span style="color:#000000; background-color:#C0C0C0;">
<%= form_with model:@customer, url:customer_session_path, local:true do |f| %>
メールアドレス
<%= f.text_field :email, :size=>"60", placeholder: 'sample@example.com' %><br>
パスワード
<%= f.password_field :password, :size=>"60" %><br>

<div class="actions">
    <%= f.submit "ログイン", class:"btn btn-sm btn-primary" %>
</div>

<span style="color:#000000; background-color:#C0C0C0;">会員登録がお済みでない⽅</span>
<p><%= link_to "こちら", new_customer_registration_path %>から新規登録を⾏ってください。</p>

    
    
    
<% end %>
</div>
</div>
</div>